<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARPOOL CONNECT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="templates/css/style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css'%}">
    <link rel="icon" type="image/png" href="{% static 'ylandinglogo.jpeg' %}">
    <script src="script.js"></script>
</head>
<body>

<!---Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top ">
        <div class="container">
            <!-- <img class="symbol mx-3 float-start img-fluid" src="{% static 'ylandingmainlo.jpeg'%} " alt="logo"> -->
            <!-- <a href="#" class="navbar-brand fw-bold">CarPooling Website</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <!-- <li class="nav-item">
                        <a href="#carpool" class="nav-link">CarPooling   /</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="#loginid" class="nav-link"></a>
                        <!-- <button id="login-button" type="login" onclick="window.location.href='login.html'">LOGIN</button> -->
                        <a href="{% url 'login' %}" ><button class="btn btn-primary">LOGIN</button></a><br>
                    </li>
                </li>
                
                    
                    <!-- <li class="nav-item">
                        <a href="login.html" class="nav-link">Login</a>
                    </li> -->
                </ul>
            </div>
        </div> 
    </nav>
    
<!--Section1/Home-->
    <section class="text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                   <h1>CAR<span class="text-warning">Pool Connect</span></h1>
                   <p class="lead my-4">Network</p>
                   <button onclick="buttont()" class="btn btn-primary btn-lg mx-3">Welcome to our carpooling website! Our platform is designed to help individuals and groups find others in their area who are interested in sharing rides to destinations.</button>
                </div>
                <img class="img-fluid w-50 d-none d-md-block mx-2" src="{% static 'displayimg.jpeg' %}" alt="">
            </div>
        </div>
    </section>
<!-----Services Section1-->
    <section id="services" class="p-2">
        <div class="container">
            <div class="d-flex justify-content-center p-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="{% static 'ylanding2.jpeg' %} " class="img-fluid" alt="Services">
                </div>
                <div class="col-md p-5">
                    <h2>Tracking, you can filter your search based on your location, destination, and preferred schedule.</h2>
                    <p class="lead">
                        Join our carpooling community today and start enjoying the benefits of sharing rides!
                    </p>
                    <p>
                        Car Pool Connect\
                    
                </div>
            </div>
        </div>
    </section>
    
<!--Footer Section-->
    <footer class="p-5 bg-dark text-light text-center position-relative footc">
        <div class="container">
            <p class="lead">Creators Mohit Mohan Giri & Praneeth Chand Baba</p>
        </div>
    
</body>
</html>
